<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Local edition of planning poker</h1>
    <p>This is a simple planning poker client. Please create new session or connect to existing one</p>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Connect</a>
  </div>
</div>
<div class="container">

</div>


</body>
</html>
